h1{
    text-align: center;

    color:rgb(252, 36, 7);
}

body{
    background-color: rgb(205, 252, 173);
}

#pass{
    margin-top: 3%; 
    
}

#loginButton{
    margin-top: 1%;
    margin-left: 9%;
    
}